.menu-enter {
  opacity: 0;
  transform: translateY(50%);
}
.menu-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 200ms, transform 200ms;
}
.menu-exit {
  opacity: 1;
  transform: translateY(0%);
}
.menu-exit-active {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 200ms, transform 200ms;
}
